@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --darkM-txt: white;
    --whiteM-txt: black;
    --whiteM-bg-primary:#F4F4F6;
    --darkM-bg-primary:#28282B;
    --whiteM-bg-secondary: #E9E9EC;
    --darkM-bg-secondary:#303033;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
    background-color: var(--darkM-bg-primary);
    color: var(--darkM-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title-cont {
    display: flex;
    align-items: center;
}

.logo-title-cont h3 {
  margin-left: 10px;
}

.logo-title-cont img {
  border-radius: 50%;
}

.landing-nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.items-cont {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.items-cont ul {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 10%;
  align-items: center;
  justify-content: center;
}

.items-cont ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  min-width: 70px;
  text-align: center;
  transition: all 0.3s ease;
  height: 100%;
  border-radius: 7px;
  padding: 7px;
}

.items-cont ul li:last-child {
  border: solid white 2px;
  padding: 10px;
  font-weight: 600 ;
}

.line {
  border: 1px solid white;
  height:2px;
  width: 90%;
}

.landing-main {
  display: flex;
  width: 90%;
  height: 65%;
}

.hero-p {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 20px;
}

.hero-p h1 {
  font-size: 3rem;
}

.main-img-cont {
  width: 50%;
  height: 100%;
  background-image: 
    linear-gradient(to right, #28282B 0%, rgba(40, 40, 43, 0) 100%),
    url("src/img/landing/2207.jpg");
  background-repeat: no-repeat, repeat; 
  background-size: cover, 200px 200px; 
  background-position: left, center;   
}


button {
  border: none;
  border-radius: 10px;
  padding: 1rem;
  color: var(--whiteM-txt);
  margin-top: 2%;
  transition: all 0.3s ease;
}

button:hover, .items-cont ul li:last-child:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.items-cont ul li:hover {
  background-color: var(--darkM-bg-secondary);
}

.items-cont ul li a {
  text-decoration: none;
  color: var(--whiteM-bg-primary);
}

button a {
  text-decoration: none;
  color: var(--darkM-bg-primary);
}