@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --darkM-txt: white;
    --whiteM-txt: black;
    --whiteM-bg-primary:#F4F4F6;
    --darkM-bg-primary:#28282B;
    --whiteM-bg-secondary: #E9E9EC;
    --darkM-bg-secondary:#303033;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
    color: var(--darkM-txt);
    display: flex;
    background-color: var(--darkM-bg-primary);
}
