@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --darkM-txt: white;
    --whiteM-txt: black;
    --whiteM-bg-primary:#F4F4F6;
    --darkM-bg-primary: #18191B;
    --whiteM-bg-secondary: #E9E9EC;
    --darkM-bg-secondary:#28282B;
    --darkM-block: #282C34;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
    color: var(--darkM-txt);
    display: flex;
}

nav {
    background-color: var(--darkM-bg-secondary);
    width: 20%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.app-name {
    display: flex;
    align-items: center;
    gap: 17px;
}

.app-name img {
    width: 40px;
    width: 40px;
    border-radius: 50%;
}

.logo-name {
    font-weight: 700;
}

.notes-nav-cont, .todo-nav-cont {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.notes-nav-cont > p, .todo-nav-cont > p {
    font-size: 13px;
}

.notes-list, .todo-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settings-cont, .todo-item, .note-item, .search-cont {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 7px;
    border-radius: 10px;
}

.search-txt {
    outline: none;
    border: none;
    height: 100%;
    background-color: inherit;
    padding: 4px;
    color: var(--whiteM-bg-primary);
}

.settings-cont:hover, .note-item:hover, .search-cont:hover {
    background-color: #3A3A3F;
}

.settings-cont {
    min-width: 190px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1%;
}

main {
    background-color: var(--darkM-bg-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 3%;
}

main h1 {
    font-size: 3rem;
}

.display-type {
    width: 100%;
    display: flex;
    justify-content: center;
}


.list-grid-cont {
    background-color: var(--darkM-bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border-radius: 14px;
    min-width: 100px;
    padding: 10px;
}

.spacer-div {
    border: 1px solid var(--whiteM-bg-primary);
    height: 70%;
}

.add-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1% 1% 0;
}

.add-btn:hover {
    transform: scale(1.1);
}

.cont-for-notes {
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    gap: 15px;
}

/* grid style blocks*/

.cont-for-notes .block {
    background-color: var(--darkM-bg-secondary);
    padding: 2%;
    border-radius:7px ;
    border: 1px var(--whiteM-bg-primary) solid;
}

.list-style-cont {
    flex-direction: column;
}

.grid-style-block {
    height: 200px;
    width: 200px;
}

.list-style-block {
    width: 100%;
    height: 80px;
}

.cont-for-notes .block:hover {
    transform: scale(1.1);
}


/*pop up */

.opened-block {
    min-width: 700px;
    min-height: 600px;
    max-height: 600px;
    position: absolute;
    border-radius:13px ;
    border: 1px solid var(--whiteM-bg-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darkM-bg-secondary);  
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 15px;
}

.opened-block input::placeholder, textarea::placeholder {
    color: var(--whiteM-bg-primary);
}

.cont-for-extras {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.opened-block input, textarea {
    outline: none;
    border: none;
    color: var(--whiteM-bg-primary);
    background-color: inherit;
    padding: 3%;
    border-radius: 7px;
}

.cont-for-extras input {
    font-style: italic;
    border: 1px solid var(--whiteM-bg-primary);
    border-radius: 50px;
    width: 155px;
    background-color: var(--whiteM-bg-primary);
    color: var(--darkM-bg-primary);
}

.cont-for-extras input::placeholder {
    color: var(--darkM-bg-primary);
}

.opened-block textarea {
    flex: 1;
}

.opened-block > input:hover, .opened-block > textarea:hover {
    background-color: #3A3A3F;
}

.block-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.hidden {
    opacity: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap:15px;
    
}

.cancel-btn, .save-btn {
    padding: 2%;
    border: none;
    border-radius: 10px;
    width: 125px;
}

.cancel-btn {
    border: 1px solid var(--whiteM-bg-primary);
    background-color: inherit;
    color: var(--whiteM-bg-primary);
}

.buttons button:hover {
    transform: scale(1.1);
}